:root {
  --static-size: 0.4rem;
  --p10: hsl(280, 60%, 10%);
  --p40: hsl(280, 60%, 40%);
  --p50: hsl(280, 60%, 50%);
  --p90: hsl(280, 60%, 90%);
  --p100: hsl(280, 60%, 100%);
  --s10: hsl(250, 60%, 10%);
  --s40: hsl(250, 60%, 40%);
  --s90: hsl(250, 60%, 90%);
  --s100: hsl(250, 60%, 100%);
  --t10: hsl(310, 60%, 10%);
  --t40: hsl(310, 60%, 40%);
  --t90: hsl(310, 60%, 90%);
  --t100: hsl(310, 60%, 100%);
  --g10: hsl(228, 5%, 10%);
  --g40: hsl(228, 5%, 40%);
  --g90: hsl(228, 5%, 90%);
  --g100: hsl(228, 5%, 100%);
  --icon-sm: calc(var(--static-size) * 4);
  --icon-md: calc(var(--static-size) * 6);
  --icon-lg: calc(var(--static-size) * 8);
  --font-size-sm: 1rem;
  --font-size-md: calc(var(--static-size) * 3);
  --font-size-sh: calc(var(--static-size) * 4);
  --font-size-hd: calc(var(--static-size) * 5);
  --border-radius-sm: calc(var(--static-size) * 2);
  --border-radius-md: calc(var(--static-size) * 3);
  --border-radius-lg: calc(var(--static-size) * 4);
  --border-sm: 0.1rem solid var(--p40);
  --border-md: 0.2rem solid var(--p40);
  --border-lg: 0.3rem solid var(--p40);
  --padding-sm: calc(var(--static-size) * 1);
  --padding-md: calc(var(--static-size) * 2);
  --padding-lg: calc(var(--static-size) * 3);
  --margin-sm: calc(var(--static-size) * 1);
  --margin-md: calc(var(--static-size) * 2);
  --margin-lg: calc(var(--static-size) * 3);
  --gap-sm: calc(var(--static-size) * 1);
  --gap-md: calc(var(--static-size) * 2);
  --gap-lg: calc(var(--static-size) * 3);
}
